html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div
article, section, header, footer, time, aside
form, fieldset,
ul, li, p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

article, section, header, footer, aside {
  display: block; }

a img,
fieldset {
  border: 0; }

html,
body {
  -webkit-text-size-adjust: none; }

body {
  background-color: #ffffff;
  color: #614200;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.4; }

p {
  font-size: 1.25em;
  line-height: 2.25rem;
  margin-bottom: 2.5rem; }

a {
  color: #0192c2;
  text-decoration: none; }
  a:hover {
    color: #eb4e32; }

.copyright {
  display: block;
  text-align: center;
  padding: 1em 0; }

.page-title-lvl3 {
  text-align: center;
  margin-bottom: 1em; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.c1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c1:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .c1:last-child {
        margin-right: 0; } }

.c2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c2:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .c2:last-child {
        margin-right: 0; } }

.c3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c3:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .c3:last-child {
        margin-right: 0; } }

.c4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c4:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .c4:last-child {
        margin-right: 0; } }

.c5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c5:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .c5:last-child {
        margin-right: 0; } }

.c6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c6:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .c6:last-child {
        margin-right: 0; } }

.c7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c7:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .c7:last-child {
        margin-right: 0; } }

.c8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c8:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c8 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .c8:last-child {
        margin-right: 0; } }

.c9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c9:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c9 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .c9:last-child {
        margin-right: 0; } }

.c10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c10:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .c10:last-child {
        margin-right: 0; } }

.c11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c11:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .c11 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      .c11:last-child {
        margin-right: 0; } }

.c12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .c12:last-child {
    margin-right: 0; }

.page {
  padding-top: 2em; }

.site-header {
  background: url("/img/stripe.png") repeat-x 0 50%;
  margin-bottom: 2em;
  text-align: center;
  padding: 0 1em; }

.site-content {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }
  .site-content::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (min-width: 768px) {
    .site-content {
      padding: 0 2em; } }
  @media only screen and (min-width: 992px) {
    .site-content {
      padding: 0 3em; } }

.site-footer {
  margin-bottom: 3em;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }
  .site-footer::after {
    clear: both;
    content: "";
    display: table; }

.alert-info {
  background-color: #DDF7FF;
  border-radius: 35px;
  font-size: 1.25em;
  padding: 1em 2em;
  margin-bottom: 2em; }

.logotype {
  display: block; }

.logotype-link {
  display: inline-block; }

.navigation {
  height: 4.5em; }

.navigation-btn {
  background: #ffffff url("/images/burger.png") no-repeat 50% 50%;
  border: 2px solid #D0D0D0;
  border-radius: 50%;
  color: #303030;
  display: block;
  font-size: 1.25em;
  font-weight: 400;
  height: 2.5em;
  line-height: 2;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0.5em;
  right: 0.5em;
  width: 2.5em;
  z-index: 220;
  outline: none; }

.navigation-list {
  left: -9999px;
  position: absolute; }
  .navigation-list.open {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 3.5em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 210; }

.navigation-link {
  color: #303030;
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0.5em 0.75em;
  text-align: center; }
  .navigation-link:hover {
    background-color: #ededed;
    border-radius: 3px;
    color: #eb4e32; }
  .navigation-link.is-active {
    color: #eb4e32; }
    .navigation-link.is-active:hover {
      background: none; }

.start-page .start-page-link,
.about .about-link,
.resume .resume-link,
.blog .blog-link {
  color: #eb4e32; }
  .start-page .start-page-link:hover,
  .about .about-link:hover,
  .resume .resume-link:hover,
  .blog .blog-link:hover {
    background: none; }

@media only screen and (min-width: 768px) {
  .navigation {
    height: auto;
    margin: 1em 0 3em 0; }

  .navigation-btn {
    left: -9999px; }

  .navigation-list {
    left: 0;
    position: relative; }

  .navigation-item {
    display: inline-block;
    width: auto; }

  .navigation-link {
    padding: 0.5em 1.5em; } }
@media only screen and (min-width: 992px) {
  .navigation {
    margin: 2em 0 3em 0;
    text-align: center; } }
@media only screen and (min-width: 1240px) {
  .navigation {
    margin: 0 5em 3em 0;
    float: right; }
    .start-page .navigation {
      float: none;
      margin: 0 0 3em 0; } }
@media only screen and (min-width: 1600px) {
  .navigation {
    margin-right: 0; } }
.meetup-date {
  color: #614200;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center; }

.meetup-info {
  margin-bottom: 3em; }

@media only screen and (min-width: 768px) {
  .meetup-date {
    font-size: 2.5em; } }
.presentations {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 3em; }

.presentations-title {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 2em;
  text-align: center; }

.presentation {
  margin-bottom: 1em;
  padding-bottom: 1em;
  display: block; }
  .presentation::after {
    clear: both;
    content: "";
    display: table; }

.presentation-title {
  color: #614200;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em; }

.presentation-speaker {
  position: relative; }

.presentation-speaker-name {
  background-color: #222222;
  border-radius: 25px;
  color: #ffffff;
  display: block;
  font-size: 1.125em;
  padding: 0.4em 1em;
  text-align: center; }

.presentation-speaker-company {
  border-bottom: 1px solid #cccccc;
  display: block;
  font-size: 1.125em;
  margin-left: 1em;
  margin-bottom: 0.25em;
  padding: 0.5em 0 0.25em 0.5em;
  text-align: center; }

.presentation-speaker-twitter {
  border-bottom: 1px solid #cccccc;
  display: block;
  font-size: 1.125em;
  margin-left: 1em;
  text-align: center;
  margin-bottom: 1em;
  padding: 0.25em 0 0.5em 0.5em; }

.presentation-speaker-image {
  border: 8px solid #222222;
  border-radius: 50%;
  display: block;
  height: 150px;
  margin: 0 auto;
  width: 150px; }

@media only screen and (min-width: 768px) {
  .presentation {
    min-height: 240px; }

  .presentation-speaker-name {
    text-align: left;
    width: 90%; }

  .presentation-speaker-company {
    text-align: left; }

  .presentation-speaker-twitter {
    text-align: left; }

  .presentation-speaker-image {
    position: absolute;
    top: 0;
    right: 0; } }
@media only screen and (min-width: 992px) {
  .presentation-title {
    float: left;
    margin-right: 4%;
    width: 56%; }

  .presentation-speaker {
    position: relative;
    float: right;
    width: 40%; }

  .presentation-speaker-name {
    width: 80%; } }

/*# sourceMappingURL=coaster.css.map */
